@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Lato);


.center-block {
    margin: 10px 15px 10px 5px;
}
.container {
	margin: 100px auto;
}

.form-control-spiel {
  width: 70%;
}

#btnErstellen {
  display: block;
  margin: 1% auto;
  text-align: center;
}

.linie {
  border-top:    1px solid;
  border-color: #D2D2D2;
}

.titel-center {
  text-align: center;
}

.table {
  margin-top: 5%;
}

/*ab hier made by claudio*/

#navbar{
  background-color: black;
  border-radius: 0px 0px 0px 0px;
}

#navbar-right {
  font-family: bangers;
  font-size: 20px;
  color: white;
}

#navbaritem{
  color: white;
}

#navbaritem:hover{
  color: green;

}

.navbaritem:hover{
  font-size: 25px;
}

.topnav{
  height: 0px;
  background-color: black;
}

#home{
  color: white;
  font-family: bangers;
  font-size: 40px;
}

#startcontent{
  color: green;
}

body{
  background-image: url(/pics/soccer.jpg);
  background-attachment: fixed;
  background-repeat: norepeat;
  background-size: cover;
  color: white;
  font-family: Lato;
}

#loginModal, #registerModal, #editSpielModal{
  color: black;
}

#btnturnierVerwalten, #btnTeamsVerwalten, #btnSpieleVerwalten, #btnMeineWetten{
  color: white;
  background-color: grey;
  margin-bottom: 20px;
}

.gameplayer{
  height: 100%;
  width: 100%;
}

#turnierVerwalten, #teamsVerwalten, #spieleVerwalten, #meineWetten{
  background-color: rgba(204, 204, 204, 0.4);
  border-radius: 10px 10px 10px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border: thin solid;
}

#createWetteVorrundeA, #createWetteVorrundeB, #createWetteVorrundeC, #createWetteVorrundeD, #createWetteVorrundeE, #createWetteVorrundeF, #createWetteVorrundeG, #createWetteVorrundeH,
#createWetteGruppeAF, #createWetteGruppeVF, #createWetteGruppeHF, #createWetteGruppeFINALE{
  font-size: 18px;
  background-color: rgba(204, 204, 204, 0.4);
  border-radius: 10px 10px 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: thin solid;
}

#btnCreateWetteErstellen{
  margin-bottom: 20px;
}

a{
  color: white;
}

#gamelink:hover{
  color: white;
  text-decoration: none;
}

#btnMeineWettenCreate{
  margin-top: auto;
  margin-bottom: auto;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.loadingModal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loadingModal {
    display: block;
}
