@import url(https://fonts.googleapis.com/css?family=Bangers);

.center-block {
    margin: 10px 15px 10px 5px;
}
.container {
	margin: 100px auto;
}

.form-control-spiel {
  width: 70%;
}

#btnErstellen {
  display: block;
  margin: 1% auto;
  text-align: center;
}

.linie {
  border-top:    1px solid;
  border-color: #D2D2D2;
}

.titel-center {
  text-align: center;
}

.table {
  margin-top: 5%;
}

#navbar{
  background-color: black;
}
#home{
  color: white;
  font-family: bangers;
  font-size: 40px;
}

#navbar-right {
  font-family: bangers;
  font-size: 20px;
  color: white;
}
